"*":
  "exception-reporting":
    userId: "1311e8fd-4ff4-52f1-9f8d-33676c2730e6"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "isotope-ui"
      "flat-ui-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    fontFamily: "Fira Mono"
    fontSize: 13
    softWrap: true
    tabLength: 4
  "paper-flat-ui": {}
  "atom-typescript":
    showSemanticView: true
  react: {}
  tabs:
    usePreviewTabs: true
  "atom-beautify": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  linter: {}
  "linter-jscs":
    preset: "google"
    esnext: true
    onlyConfig: true
    fixOnSave: true
  "linter-jshint":
    lintInlineJavaScript: true
    disableWhenNoJshintrcFileInPath: true
  docblockr: {}
  "atom-material-ui":
    tabSize: "Small"
    panelContrast: true
    compactTreeView: true
  "one-dark-ui":
    layoutMode: "Compact"
  "es-identifier-highlight":
    enableDebugOutput: true
    minimapLine: false
    lightTheme: true
  "linter-scss-lint": {}
  "file-icons":
    tabPaneIcon: false
  "todo-show": {}
  "tree-view": {}
  "tool-bar":
    iconSize: "16px"
    position: "Left"
