packages: [
  ".bin"
  "angularjs"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-typescript"
  "autoclose-html"
  "docblockr"
  "file-icons"
  "flat-ui-syntax"
  "linter"
  "linter-csslint"
  "linter-jscs"
  "linter-jshint"
  "linter-less"
  "linter-php"
  "nucleus-dark-ui"
  "package-sync"
  "pep-syntax"
  "php-twig"
  "pigments"
  "react"
  "todo-show"
]
