packages: [
  ".bin"
  "angularjs"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-typescript"
  "autoclose-html"
  "docblockr"
  "editorconfig"
  "file-icons"
  "flat-ui-syntax"
  "flex-tool-bar"
  "highlight-selected"
  "isotope-ui"
  "linter"
  "linter-csslint"
  "linter-jscs"
  "linter-jshint"
  "linter-less"
  "linter-php"
  "merge-conflicts"
  "nucleus-dark-ui"
  "package-sync"
  "php-twig"
  "pigments"
  "react"
  "todo-show"
  "tool-bar"
]
